/* Project : DBRIF
 * Authors : Julie PIVIN-BACHLER & Anaïs MONDIN
 * Date : 2021-2022
 * 3A SRI
 */

.slider input {
    width: 20.3vw; /* Full-width */
    height: 1vh; /* Specified height */
    background: #878787; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    float: right;
    -webkit-appearance: none;
}

/* Mouse-over effects */
.slider input:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider :disabled{
    opacity:0.1;
}

.slider :disabled:hover {
    opacity: 0.1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    width: 13px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #273339; /* Green background */
    cursor: pointer; /* Cursor on hover */
    -webkit-appearance: none;
}

.slider::-moz-range-thumb {
    width: 13px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #273336; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.config{
    display:flex;
    flex-direction:column;
    padding-left:2vw;
    padding-right:2vw;
}

h3 {
    text-align: center;
    padding-bottom: 1.25vh;
    font-size: 2.8vh;
    color: #273339;
    font-weight: bold;
}

select{
    font-size:1.8vh;
}

.bouton-normal {
    background-color: #273339;
    color: white;
    opacity: 0.7;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 1);
    border-radius:6px;
    padding-bottom:0.25vh;
    margin-bottom:0.8vh;
    font-size:1.85vh;
}
/* Mouse-over effects */
.bouton-normal:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.bouton-normal:disabled {
    opacity: 0.2; 
}

.bouton-import {
    background-color: #273339;
    color: white;
    opacity: 0.7;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 1);
    border-radius: 6px;
    width: 17.85vw;
    font-size:1.85vh;
}
/* Mouse-over effects */
.bouton-import:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.bouton-import:disabled {
    opacity: 0.2; 
}

.champImport {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 0.34vw;
}

.bouton-select {
    background-color: rgba(135, 135, 135, 0.5);
    color: black;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    width:14.35vw;
    text-align:center;
    font-size:1.75vh;
    opacity:0.8;
    margin-bottom:0.6vh;
}
.bouton-select:hover {
   opacity:1;
}
.bouton-select:disabled {
    opacity: 0.3;
}

.labels {
    padding-left: 0.35vw; 
    padding-right: 0.65vw; 
    font-size: 2vh;
}

.labels-mtnc {
    margin-right: 5px;
    font-size: 2vh;
}

.bouton-run {
    background-color: #7ABD6A;
    font-weight: bold;
    opacity: 0.7;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 1);
    border-radius: 6px;
    font-size:1.85vh;
}
/* Mouse-over effects */
.bouton-run:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.bouton-run:disabled {
    opacity: 0.4;
}

.champ{
    padding-top:2.55vh;
}

.champ-mtnc {
    align-self:center;
    padding-top: 9vh;
}

.champ-slider {
    padding-top: 2.5vh;
    padding-bottom: 2.55vh; 
    padding-right: 4.6vw; 
}

.etat-courant {
    padding-top:5.25vh; 
    display: flex;
    flex-direction:row;
    font-size: 2vh;
}

.etat-courant-admin {
    padding-top: 5.2vh;
    display: flex;
    flex-direction: row;
    font-size: 2vh;
}

.etat-courant-maintenance {
    padding-top: 25.6vh;
    display: flex;
    flex-direction: row;
}

.etat-col-1{
    display:flex;
    flex-direction:column;
    width:19.8vw;
}

.etat{
    padding-bottom:1%;
    padding-left:5%;
}

.etat-import {
    padding-bottom: 1.3vh;
    padding-left: 0.05vw; 
}

.rep {
    padding-left: 0.1vw;
    font-weight: bold;
    font-size: 2.1vh;
    color: #7ABD6A
}

.rep-occ {
    padding-left: 0.1vw;
    font-weight: bold;
    font-size: 2.1vh;
    color: #EC6427;
}

.rep-stop {
    padding-left: 0.3vw;
    font-weight: bold;
    font-size: 2.1vh;
    color: #E30613;
}

.rep-non-init {
    padding-left: 0.1vw;
    font-weight: bold;
    font-size: 2.1vh;
    color: #FAB62B;
}

.champCheck {
    display: flex;
    flex-direction: column;
    padding-left: 9.7vw;
    font-size:2vh;
}

.icone{
    width:1.5vw;
}

.import-ok{
    font-size:1.65vh;
    font-style:italic;
    text-align:right;
    padding-top:0.25vh;
    padding-right:0.3vw;
    color:#EC6427;
}

.value-conf{
    opacity:1;
    font-size:2vh;
}

.value-conf-disabled{
    opacity:0.2;
}

.value-diam {
    opacity: 1;
}

.value-diam-disabled {
    opacity: 0.2;
}

.wrap-bouton-parking{
    padding-left:2vw;
    padding-bottom:1.5vh;
}

.bouton-group {
    width: 36vw;
}

.bouton-normal-mid {
    background-color: #273339;
    color: white;
    opacity: 0.7;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 1);
    border-radius: 6px;
    width:18vw;
    font-size:1.85vh;
    margin-bottom:0.8vh;
}
    /* Mouse-over effects */
    .bouton-normal-mid:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    .bouton-normal-mid:disabled {
        opacity: 0.2;
    }

.run-buttons-mtnc {
    padding-left: 9.7vw;
    padding-top: 9.75vh;
}

.space-button-mtnc {
    padding-right: 2.65vw;
}

.bouton-start-mtnc {
    width: 3.95vw;
    opacity: 0.8;
}
.bouton-start-mtnc:hover {
    opacity: 1;
}
.bouton-start-mtnc-disabled {
    width: 3.95vw;
    opacity: 0.2;
}

.bouton-pause-mtnc {
    width: 3.95vw;
    opacity: 0.8;
}
.bouton-pause-mtnc:hover {
    opacity: 1;
}
.bouton-pause-mtnc-disabled {
    width: 3.95vw;
    opacity: 0.2;
}


.bouton-stop-mtnc {
    width: 4.15vw;
    opacity: 0.8;
}
.bouton-stop-mtnc:hover {
    opacity: 1;
}
.bouton-stop-mtnc-disabled {
    width: 4.15vw;
    opacity: 0.2;
}


.champCalibration {
    display: flex;
    flex-direction: row-reverse;
    padding-right:5.7vw;
    padding-top: 2.2vh;
}

.bouton-calibration-mtnc {
    background-color: #273339;
    color: white;
    opacity: 0.7;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 1);
    border-radius: 6px;
    width: 25vw;
    font-size: 1.85vh;
}
    /* Mouse-over effects */
    .bouton-calibration-mtnc:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    .bouton-calibration-mtnc:disabled {
        opacity: 0.2;
    }
