/* Project : DBRIF
 * Authors : Julie PIVIN-BACHLER & Anaïs MONDIN
 * Date : 2021-2022
 * 3A SRI
 */

.middle-results-history {
    position: absolute;
    width: 70vw;
    margin-left: 22vw;
    margin-top: 5vh;
    border: 1px solid;
    border-radius: 3px;
    background-color: #273339;
}

.body-results-history {
    background-color: #E7E6E6;
}

.header-results-history {
    display: flex;
    flex-direction: row;
}

.button-remove {
    width: 50vw;
    margin-bottom: 1.3vh;
    margin-top: 1.3vh; 
    padding-left: 66.5vw;
    height: 4vh; 
    opacity: 0.75;
    color: #FAB62B;
}

    .button-remove:hover {
        opacity: 1;
    }

    .button-remove:disabled {
        opacity: 0.4;
    }

.button-details {
    height: 1.6vw; 
}

.details-history {
    height: 4vh;
}

.table-cell {
    font-style: italic;
    background-color: #E7E6E6;
}

.MuiTableCell-root {
    display: table-cell;
    padding: 16px;
    font-size: 1.8vh !important;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}

.MuiTypography-body2 {
    font-size: 1.5vh;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.table-rows {
    background-color: #E7E6E6;
}

.table-head {
    font-size: 2.45vh;
    position: absolute;
    padding-left: 1.5vw;
    color: white;
} 

.MuiTableCell-paddingCheckbox {
    width: 3.1vw;
    padding: 0 0 0 0.25vw;
}


.MuiTableRow-root.Mui-selected, .MuiTableRow-root.Mui-selected:hover {
    background-color: rgba(140,209,245,0.5) !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
    color: #878787 !important;
}

.MuiTablePagination-caption {
    flex-shrink: 0;
    font-size: 1.6vh;
}

.nb-select {
    font-size: 1.6vh;
    color: white;
    position: absolute;
    padding-left: 45.5vw;
    padding-top: 2vh;
}
