/* Project : DBRIF
 * Authors : Julie PIVIN-BACHLER & Anaïs MONDIN
 * Date : 2021-2022
 * 3A SRI
 */

.main-usr{
    display:flex;
    flex-direction:row;
}

.menu-bar{
   width:14vw;
}

.middle-screen {
    width: 46vw;
    border-right-style: solid;
    border-right-color: #273339;
    border-right-width: 2px;
}

.configuration {
    width: 40vw;
    height:85.395vh;
    background-color: #E7E6E6;
}
