/* Project : DBRIF
 * Authors : Julie PIVIN-BACHLER & Anaïs MONDIN
 * Date : 2021-2022
 * 3A SRI
 */

.img-demonstrateur{
    width:55vw;
    opacity:0.67;
    height: 85.395vh;
    margin-left:-9vw;
}

.middle {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.middle-run {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    padding-left:7.35vw;
}

.run-buttons {
    padding-left:6.2vw;
    padding-top:10.6vh;
    padding-bottom:5.3vh;
}

.bouton-runmode{
    width: 3.9vw;    
    opacity:0.6;
}

.bouton-runmode-disabled {
    width: 3.9vw;
    opacity: 0.2;
}

.space-button-runmode {
    padding-right: 3.25vw;
}

.bouton-runmode-stop {
    width: 4.15vw;
    opacity: 0.6;
}

.bouton-runmode:hover {
    opacity: 1;
}

.bouton-runmode:disabled {
    opacity: 0.2;
}

.bouton-runmode-stop:hover {
    opacity: 1;
}

.run-console {
    background: black;
    color: #E7E6E6;
    width: 30.45vw;
    padding-top: 3.7vh;
    padding-bottom: 3.5vh;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 4px;
    overflow-y: auto;
    scroll-behavior:smooth;
    height: 42vh;
}

.run-console-mtnc {
    background: black;
    color: #E7E6E6;
    width: 36.2vw;
    margin-left:4.6vw;
    padding-bottom: 31vh; 
    border-style: solid;
    border-width: 0.65vh;
    border-color: black;
    border-radius: 2px;
}

.run-console-text{
    padding-left:1.5vw;
    font-size:1.7vh;
    white-space:pre;
}

.run-console-text-mtnc {
    padding-left: 1vw;
    font-size: 1.7vh;
}

.flux-video {
    padding-top: 3vh;
    padding-left: 4.6vw;
    width: 36.7vw;
}

.console-wrap-mtnc{
    display: flex;
    flex-direction: row;
}

.save-icon-mtnc {
    width:65%;
    opacity:0.8;
}

.save-icon-mtnc:hover {
    opacity: 1;
}

.save-icon-mtnc-disabled {
    width: 65%;
    opacity: 0.2;
}


.wrap-save-icon-mtnc {
    padding-top:30vh;
    margin-left:1.4vw;
    width:7%;
}