/* Project : DBRIF
 * Authors : Julie PIVIN-BACHLER & Anaïs MONDIN
 * Date : 2021-2022
 * 3A SRI
 */

.middleResult-v2 {
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    margin-left: 2vw;
}

.display-results {
    display: flex;
    flex-direction: row;
    margin-top: 6vh;
    margin-left: 1vw;
}

.table-results {
    position: absolute;
    width: 40vw;
    margin-left: 40vw;
    height:45vh;
    border: 1px solid;
    border-radius: 3px;
    background-color: #273339;
}

.header-results-diam {
    display: flex;
    flex-direction: row;
}

.table-head-results{
    font-size: larger;
    position:absolute;
    padding-left: 2vw;
    color: white;
}

.table-cell-results {
    background-color: #273339;
    color: white;
}

.table-rows-results {
    background-color: #E7E6E6;
    height: 44vh;
}

.table-header-results{
    overflow-y:hidden;
    color:white;
}

.table-body-results{
    overflow-y:auto;
}

.non-conform {
    background-color: rgba(227,6,19,0.3) !important;
}

.non-conform-reason {
    background-color: rgba(227,6,19,0.3) !important;
    font-weight: bold;
}


.return-icon-results {
    width: 3.1vw;
}

    .return-icon-results:hover {
        opacity: 1;
    }

.no-cam-results {
    width: 38vw;
    height: 45vh;
}

.trou-results {
    width: 34.5vw;
    height: 45vh;
}

.button-save-result {
    border-radius: 5px;
    width: 28vw;
    margin-left: 47vw;
    margin-top: 3vh;
    background-color: #273339;
    color: white;
    box-shadow: 1px 1px 1px 1px rgb(128, 128, 128);
    justify-content: center;
    opacity: 0.8;
    font-size: 2vh;
    padding: 0.4vh;
}

    .button-save-result:hover {
        opacity: 1;
    }

    .button-save-result:disabled {
        opacity: 0.2;
    }

.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 1.55vh;
    overflow: visible;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.table-results .MuiTableCell-head {
    color: white;
    position:sticky;
    font-weight: 550;
    line-height: 1.5rem;
    background: #273339;
}

.MuiTableCell-root {
    display: table-cell;
    padding: 1vw;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1 px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}