/* Project : DBRIF
 * Authors : Julie PIVIN-BACHLER & Anaïs MONDIN
 * Date : 2021-2022
 * 3A SRI
 */

.middle-screen-modif-account {
    position: absolute;
    background: #E7E6E6;
    color: black;
    width: 55vw;
    border-style: solid;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
}

.add-account-title {
    padding-bottom: 0.8vh;
    color: #273339;
    font-size: 2.6vh;
}

.middle-modif-account {
    padding-left: 2.75vw;
    display: flex;
    flex-direction: row;

}

.sauvegarder-button-acc {
    background-color: #273339;
    color: white;
    opacity: 0.7;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 1);
    border-radius: 3px;
    position: absolute;
    width: 22vw;
    top: 65vh;
    padding: 0.2vh;
    font-size: 1.8vh;
}

    .sauvegarder-button-acc:hover {
        opacity: 1;
    }

    .sauvegarder-button-acc:disabled {
        opacity: 0.2;
    }

.mdp-mail-area-add {
    width: 22vw;
    height: 74vh;
    display: flex;
    flex-direction: column;
    padding-right:2.5vw;
}

.mdp-mail-area-supp {
    width: 22vw;
    height: 74vh;
    display: flex;
    flex-direction: column;
    border-left: double;
    padding-left:2.5vw;
}

.mdp-mail-area-supp-two {   
    display: flex;
    flex-direction: column;
}

.supprimer-button {
    background-color: #E30613;
    color: white;
    opacity: 0.7;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 1);
    border-radius: 3px;
    margin-top: 2vh;
    width: 22vw;
    padding: 0.2vh;
    font-size: 1.8vh;
}

    .supprimer-button:hover {
        opacity: 1;
    }

    .supprimer-button:disabled {
        opacity: 0.2;
    }

input[type=identifiant] {
    font-size: 1.85vh;
}

.mdp-area-modifAcc {
    display: flex;
    flex-direction: column;
}

.mdp-area-2-modifAcc {
    display: flex;
}

.pwd-new-confirm-modifAcc {
    width: 22vw;
    font-size: 1.85vh;
}

.must-container-modifAcc {
    border: 0.35vh solid #8CD1F5;
    border-radius: 3px;
    background-color: #ffffff;
}

.must-container-invisible-modifAcc {
}

.must-container-modifAcc .must-line.cross-out {
    width: 21.65vw;
}

.icon-set-mdp-visible-acc {
    width: 2.3vw;
}

.icon-eye-acc {
    height: 1.7vh;
    width: 1vw;
}