/* Project : DBRIF
 * Authors : Julie PIVIN-BACHLER & Anaïs MONDIN
 * Date : 2021-2022
 * 3A SRI
 */

﻿.mdp-area {
    display: flex;
    flex-direction: column;
}

.mdp-area-2 {
    display: flex;
}

.pwd-new-confirm {
    width: 18vw;
    font-size: 1.85vh;
}

.mdp-sauv-button {
    margin-bottom: 10px;
    background-color: #273339;
    color: white;
    opacity: 0.7;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 1);
    width: 17.95vw;
    font-size: 1.8vh;
    border-radius: 3px;
    margin-bottom:-1.8vh;
}

    .mdp-sauv-button:hover {
        opacity: 1;
    }

    .mdp-sauv-button:disabled {
        opacity: 0.2;
    }



.pwd-container {
    width: 50%;
}

    .pwd-container input {
        height: 10px;
    }

.usr-param-title-mdp {
    font-size: medium;
}

/*Styles pour la boîte "Doit contenir"*/

.must-container {
    border: 0.35vh solid #8CD1F5;
    border-radius: 3px;
    background-color: #ffffff;
}

    .must-container:disabled {
        opacity: 0;
    }

.must-container-invisible {
    
}

.must-item {
    position: relative;
    width: 17vw;
    height: 1.9vh;
    padding: 0.4vh 0;
    background-color: #ffffff;
    border-radius: 3px;
}

.must-text {
    position: absolute;
    top: 1.3vh;
    left: 1.35vw;
    line-height: 0;
}

.must-line {
    position: absolute;
    z-index: 1;
    top: 1.2vh;
    height: 0.35vh;
    background-color: #273339;
    transition: 0.5s;
}

.cross-out {
    width: 17.7vw;
}

.icon-set-mdp-visible{
    width: 2.3vw;
}

.icon-eye{
    height:1.7vh;
    width:1vw;
}