/* Project : DBRIF
 * Authors : Julie PIVIN-BACHLER & Anaïs MONDIN
 * Date : 2021-2022
 * 3A SRI
 */

.popup-box-confirm {
    position: absolute;
    background: rgba(39,51,57,0.6);
    border-radius: 4px;
    padding: 0.45vw;
    border-style: solid;
    border-width: 3px;
    border-color: #273339;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 1);
    top:16.5vh;
    width:33vw;
}

.box-confirm {
    border-radius: 4px;
    background-color: #E7E6E6;
    border: 2px solid #999;
    padding:0.65vw;
}

.popup-title {
    font-weight: bold;
    color: #273339;
    padding-bottom: 0px;
    padding-top: 0px;
}

.bouton-popupConfirm-oui{
  background-color: #E30613;
  color: white;
  opacity: 0.7;
  width:15.7vw;
  font-size:1.8vh;
}

.bouton-popupConfirm-oui:hover {
    opacity: 1;
}

.bouton-popupConfirm-non {
    background-color: #273339;
    color: white;
    opacity: 0.7;
    width:15.7vw;
    font-size:1.8vh;
}

.bouton-popupConfirm-non:hover {
    opacity: 1;
}