/* Project : DBRIF
 * Authors : Julie PIVIN-BACHLER & Anaïs MONDIN
 * Date : 2021-2022
 * 3A SRI
 */

.popup-box-lancement {
    position: absolute;
    background: rgba(39,51,57,0.6);
    border-radius: 4px;
    top: 18%;
    right: 41%;
    border-style: solid;
    border-width: 3px;
    border-color: #273339;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 1);
    width: 30%;
}

.box-lancement {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #E7E6E6;
    border: 2px solid #999;
    width: 93%;
    padding: 5px;
    margin: 8px;
}
