/* Project : DBRIF
 * Authors : Julie PIVIN-BACHLER & Anaïs MONDIN
 * Date : 2021-2022
 * 3A SRI
 */

.pge-statebanner_co {
    color: white;
    padding:0.8vh;
    background-color: #273339;
    display: flex;
    flex-direction: row;
    height:2.2vh;
}

.date_co {
    width: 60%;
    text-align: left;
    font-size:1.45vh;
    padding-top:0.3vh;
}
