/* Project : DBRIF
 * Authors : Julie PIVIN-BACHLER & Anaïs MONDIN
 * Date : 2021-2022
 * 3A SRI
 */

.pge-topbanner {
    background-color: black;
	color: white;
	padding: 10px;
    height:8.3vh;
}

.pge-topbanner::after{
    background: linear-gradient(to right, #8CD1F5 0%, 20%, #E30613 20%, 40%, #7ABD6A 40%, 60%, #EC6427 60%, 80%, #FAB62B 80%);
    position: absolute;
    content: '';
    height: 0.6vh;
    right: 0;
    left: 0;
    top: 10.4vh;
}

.pge-title {
    text-align: center;
    font-size: 3vh;
}

.pge-logo-eXcent {
    float : right;
	width: 8.2vw;
    margin-top: -8.7vh;
}

.pge-logo-upssi {
    float : left;
	width: 5.9vw;
    margin-top: -8.7vh;
}