/* Project : DBRIF
 * Authors : Julie PIVIN-BACHLER & Anaïs MONDIN
 * Date : 2021-2022
 * 3A SRI
 */

.mainUsrParam {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    padding-top: 4vh;
}

.main-usr-param {
    display: flex;
    flex-direction: row;
}
